body {
  margin: 5px;
  padding: 0;
  font-family: sans-serif;
}

.mainDiv, .element {
  position: absolute;
  display: inline-block;
  border: 1px solid;
  height: 0;
  width: 0;
}

button {
  display: block;
  margin: 5px;
}